@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
  box-sizing: border-box;
  font-family: Poppins;
}

#root{
  height: 100%;
  width: 100%;
}
html, body{
  height: 100%;
  margin : 0;
  width: 100%;
  font-size: 16px;

}
.App {
  text-align: center;
  height: 100%;
  width: 100%;

}
.container{
  width: 100%;
  height: 15px;
  display: inline-flex;
  justify-content: flex-start;
}

.category{
  height: 50px;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin: 10px 0px;
}

.left{
  display: inline-flex;
  align-items: center;
}

.colorBox{
  height: 13px;
  width: 13px;
  margin-right: 15px;
}

p{
  margin: 0px;
  text-align: left;  
}

/* .category > p{
  color: blue;
} */


.result{
  height: 100%;
}