@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

@supports(-webkit-appearance: none) or (-moz-appearance: none) {
  input[type='checkbox'],
  input[type='radio'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    --focus: 2px rgba(39, 94, 254, .25);
  outline: none;
  transition: box-shadow .2s;
  }
}

@keyframes transitionRight{
  from{
    width: 100%;
  }
}

* {
  box-sizing: border-box;
  font-family: Poppins;
}

.result{
  animation: transitionRight 3s;
}

#root{
  height: 100%;
  width: 100%;
}
html, body{
  height: 100%;
  margin : 0;
  width: 100%;
  font-size: 16px;

}
.App {
  text-align: center;
  height: 100%;
  width: 100%;

}

p{
  margin: 0px;
  text-align: left;  
}

