
#main{
    width: fit-content;
}
#image-summary-main-container{
    display: flex;
}
.image-summary-container{
    margin: 1em;
}

p{
    padding: 1px
}

table{
    width: 70%;
}
caption{
    text-align: left;
    color: rgb(170, 167, 167);
}

td {
    text-align: right;
}

th, td {
    padding: 0.5em;
    padding-left: 0;
}

th{
    text-align: left;
    padding-left: 0;
}

#header-button-container{
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}

#edit-btn{
    border-radius: 5px;
    background-color: rgb(70, 67, 67);
    color: white;
    border: none;
    padding: 10px;
    font-size: small;
}